streamlit
langchain
langchain-chroma
langchain-mistralai
langchain-text-splitters
langchain-community
openai-whisper
pydub
yt-dlp
requests
fpdf2
rank_bm25
python-dotenv
audioop-lts; python_version >= '3.13'